/* General layout */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 260px;
}

body > #background {
    padding: .6rem .6rem 2rem;
    background: #f2f2f2;
    color: #171717;
    min-height: calc(100vh - 5.5rem - 2.6rem - 1.6rem - 1.2 * 2 * 0.85rem); /* Put the footer at the bottom if there's not enough content. */
}

    @media (max-width: 700px) {
        body > #background {
            padding: .6rem 0 2rem;
        }
    }

.container {
    max-width: 1020px;
    margin: auto;
}

/* General styles */
a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.titled-container > h1 {
    margin-top: 0;
}

@media (max-width: 700px) {
    .titled-container > h1 {
        margin-left: .6rem;
        margin-right: .6rem;
    }
}

/* Header */
#main-header {
    background-color: #512bd4;
    color: #fff;
    padding: 2rem .6rem 2rem;
    width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
}

    @media (max-width: 700px) {
        #main-header {
            padding: 1rem .6rem 1rem;
        }
    }

#title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 2.5rem;
    white-space: nowrap;
}

    #title a {
        color: #fff;
    }

/* Breadcrumbs */
#breadcrumbs {
    margin: .6rem 0 .4rem;
    font-size: .85rem;
}

    #breadcrumbs a {
        color: #000;
    }

    #breadcrumbs .sep {
        margin: 0 .4rem;
    }

/* Channel list */
.channels-table {
    border-spacing: 0 .2rem;
    table-layout: auto;
    width: 100%;
}

    .channels-table tr {
        background: #fff;
    }

    .channels-table td, .channels-table th {
        display: table-cell;
        padding: .6rem;
        line-height: 1.5;
        vertical-align: top;
        border: none;
        white-space: nowrap;
        text-align: left
    }

    .channels-table .label {
        display: none;
    }

    .channels-table a {
        color: #000;
        text-decoration: none;
    }

@media (max-width: 700px) {
    .channels-table {
        display: block;
    }

        .channels-table thead {
            display: none;
        }

        .channels-table tbody {
            display: flex;
            flex-flow: column nowrap;
        }

            .channels-table tbody tr {
                margin-bottom: .6rem;
                padding: .6rem;
                display: grid;
                grid-template: repeat(4, auto) / repeat(2, auto);
            }

            .channels-table tbody td {
                display: inline;
                padding: 0;
            }

                .channels-table tbody td.title {
                    font-size: 1.8rem;
                    font-weight: 600;
                    grid-row: 1 / span 2;
                    grid-column: 1 / span 1;
                }

                .channels-table tbody td.support {
                    grid-row: 1 / span 1;
                    grid-column: 2 / span 1;
                    justify-self: end;
                }

                .channels-table tbody td.eol-date {
                    grid-row: 2 / span 1;
                    grid-column: 2 / span 1;
                    justify-self: end;
                }

                    .channels-table tbody td.eol-date.unknown {
                        display: none;
                    }

                .channels-table tbody td.latest-rel-date {
                    grid-row: 3 / span 1;
                    grid-column: 1 / span 2;
                }

                .channels-table tbody td.latest-rel {
                    grid-row: 4 / span 1;
                    grid-column: 1 / span 2;
                }

        .channels-table .label {
            display: inline;
        }
}

/* Status indicator */
.status-box {
    display: flex;
    align-content: center;
}

.status-indicator {
    align-self: center;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border: none;
    box-sizing: border-box;
    margin-right: 0.5rem;
    font-size: 0.85rem;
    line-height: 0.85rem;
    text-align: center;
    cursor: default;
}

    @media (max-width: 700px) {
        .status-indicator {
            order: 2;
            margin-right: 0;
            margin-left: 0.5rem;
        }
    }

    .status-indicator.green {
        background: #28a745;
    }

    .status-indicator.yellow {
        background: #ffc107;
    }

    .status-indicator.red {
        background: #dc3545;
    }

    .status-indicator.border-black {
        border: 0.05rem solid #000;
        color: #000;
    }

    .status-indicator.border-red {
        border: 0.05rem solid #dc3545;
        color: #dc3545;
    }

/* Release notes */    
.release-notes article {
    padding: 2.6rem;
}

    .release-notes article > *:first-child {
        margin-top: 0;
    }

/* Long form text */
.text {
    background: #fff;
}

    .text a {
        color: #0078d4;
    }

    .text pre {
        overflow: auto;
    }

    .text blockquote {
        padding-left: 1rem;
        border-left: 4px solid #505050;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    
    .text table {
        display: block;
        overflow: auto;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

        .text table tr:nth-child(2n) {
            background-color: #f6f8fa;
        }

        .text table th, .text table td {
            border: 1px solid #dfe2e5;
            padding: .4rem .8rem;
        }

/* Footer */
body > footer {
    color: #565656;
    font-size: .75rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0.8rem;
}

    body > footer > span {
        margin: .2em .6em;
    }

    body > footer a {
        color: #565656;
    }

/* Error page */
#error-page {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

    #error-page .status-code, #error-page .status-text {
        font-weight: 600;
    }

    #error-page .status-code {
        font-size: 8rem;
    }

    #error-page .status-text {
        font-size: 2.4rem;
    }