body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; 
}

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0; 
    }
}

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center
}

_:-ms-lang(x), .row { justify-content: space-around; } 

button {
    background: transparent;
    height: 42px;
    line-height: 42px;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.main-loading {
    background: #512bd4;
    height: 100vh;
    width: 100vw;
}

.loading {
    border-radius: 100%;
    border: 10px dotted #fff;
    animation: rotate 3s infinite ease;
}

@keyframes rotate {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}

.main-loading .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
}

.main-error {
    background: #512bd4;
    color: #fff;
    min-height: 100vh;
    min-width: 100vw;
}

.error-symbol {
    line-height: 1;
}

.main-error .error-symbol {
    font-size: 15.0rem;
}

.main-error .error-title {
    font-size: 3.0rem;
}

@media (min-width: 550px) {
    .main-error .error-title {
        font-size: 5.0rem;
    }
}

.error-title, .error-details {
    text-align: center;
}

.error-details, .error-retry-button {
    margin-top: 1rem;
}

.error-details {
    font-size: 0.8rem;
}

.channel-error .error-symbol {
    margin-top: -2.5rem;
    font-size: 9.0rem;
}

.channel-error .error-title {
    font-size: 1.8rem;
}

.channel-error .error-details {
    margin-bottom: 1rem;
}

.channel-error .error-retry-button {
    height: 32px;
    line-height: 32px;
    font-size: 0.9rem;
}
  
header, nav {
    background: #512bd4;
    color: #fff;
}

header {
    margin-top: -0.9rem;
}

header .cell {
    margin: 20px;
    display: grid;
    grid-template-rows: 1fr auto;
}

header .loading {
    width: 4.0rem;
    height: 4.0rem;
    margin: -1.0rem, 1.0rem, 1.0rem, -1.0rem;
    grid-row: 1;
}

header .version, header .error-symbol {
    font-size: 6.0rem;
    margin: 20px 0;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

header .error-symbol {
    cursor: pointer;
}

header .label {
    grid-row: 2;
    align-self: center;
    text-align: center;
}

nav > .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-y: hidden;
}

nav > .container > * {
    white-space: nowrap;
}

nav a, nav h1 {
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 1em 1em 1rem 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav #title {
    order: -2;
}

nav a.active {
    border-bottom: .08em solid #fff;
    order: -1;
}

#releases { 
    overflow-y: hidden;
}

#releases table {
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: auto;
    width: 100%;
    margin-bottom: 4rem;
}

#releases td, #releases th {
    display: table-cell;
    padding: 12px 16px;
    line-height: 1.5;
    vertical-align: top;
    border: solid #e3e3e3;
    border-width: 1px 0 0;
    white-space: nowrap;
}

#releases th {
    text-align: left;
    vertical-align: bottom;
}

#releases thead th {
    border-width: 0 0 1px;
}

#releases .hide-border {
    border-width: 0;
}

.status-box {
    display: flex;
    align-content: center;
}

.status-indicator {
    align-self: center;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border: none;
    box-sizing: border-box;
    margin-right: 0.5rem;
    font-size: 0.85rem;
    line-height: 0.85rem;
    text-align: center;
    cursor: default;
}

.preview {
    border: 0.05rem solid #000;
}

.lts {
    background: #28a745;
}

.maintenance {
    background: #ffc107;
}

.eol {
    background: #dc3545;
}

.unknown {
    border: 0.05rem solid #000;
    color: #000;
}

.security {
    border: 0.05rem solid #dc3545;
    color: #dc3545;
}

.expand-button > img {
    height: 0.9rem;
    cursor: pointer;
}

.expanded-loading {
    display: flex;
    justify-content: center;
    width: 100%;
}

.expanded-loading .loading {
    width: 4.0rem;
    height: 4.0rem;
    margin: 2.0rem;
    border-color: #000;
}
